@keyframes slide2 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.logos2 {
    overflow: hidden;
    padding: 40px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    width: 500px;
}

.logos2:before,
.logos2:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos2:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos2:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos2:hover .logos2-slide {
    animation-play-state: paused;
}

.logos2-slide {
    display: inline-block;
    animation: 35s slide2 infinite linear;
}

.logos2-slide img {
    height: 50px;
    margin: 0 40px;
}