@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.calculadora {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.calc-input {
  font-family: inherit;
  color: #535A77;
  font-size: 18px;
  flex: 1;
  border: none;
  border-bottom: 3px solid #535A77;
  padding: 20px 20px 5px 20px;
  outline: none;
  transition: border-color 0.3s;
}

.calc-input:focus {
  border-bottom-color: #38ba8c;
}

.titulo-calc {
  color: #535A77;
}

.form-group {
  margin-bottom: 15px;
}

.label-calc {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #535A77;
}

.boton-Calc {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.boton-Calc {
  width: 100px;
  height: 50px;
  background-color: #2fb5a3;
  color: white;
  border: none;
  cursor: pointer;
}

.boton-Calc:hover {
  background-color: #26647a;
  border-radius: 15px;
}

#results {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #61c9b6;
  border-radius: 20px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
