@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.calculadora {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  width: 75%;
}

.calc-input {
  font-family: inherit;
  color: #535A77;
  font-size: 18px;
  flex: 1;
  border: none;
  border-bottom: 3px solid #535A77;
  padding: 20px 20px 5px 20px;
  outline: none;
  transition: border-color 0.3s;
  text-align: center;
}

.input-calc {
  align-self: center;
}

.calc-input:focus {
  border-bottom-color: #38ba8c;
}

.titulo-calc {
  color: #535A77;
}

.form-group {
  margin-bottom: 15px;
}

.info-icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.info-icon::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2fb5a3;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.8em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  pointer-events: none;
}

.info-icon:hover::after {
  opacity: 40;
  visibility: visible;
}

.info-icon-result {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.info-icon-result::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.8em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  pointer-events: none;
}

.info-icon-result:hover::after {
  opacity: 40;
  visibility: visible;
}

.label-calc {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #535A77;
  text-align: center;
}

.boton-Calc,.boton-Calc-borrar  {
  border-radius: 15px;
  width: 150px;
  height: 50px;
  background-color: #2fb5a3;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  border: none;
  margin: 1%;
}

.boton-calc-aling{
  text-align: center;
}

.boton-Calc:hover, .boton-Calc-borrar:hover {
  background-color: #26647a;
}

#results {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #61c9b6;
  border-radius: 20px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
