.pageFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #264653;
    color: white;
}

.pageFooter .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 10px 0px;
}
/* button{
    display: inline-block;
    border: 0px;
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
} */

.pageFooter .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*centrar en eje x*/
    align-items: center; /*centrar en eje y*/
}

.pageFooter .grupo-1 .box figure img{
    width: 250px;
}

.pageFooter .grupo-1 .box h2{
    color: white;
    font-size: 20px;
}

.pageFooter .grupo-1 .box p{
    margin-bottom: 10px;
    text-align: center;
}

.pageFooter .grupo-2{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0 30px;
    text-align: center;
}

.rrss-icon {
    width: 30px; 
    height: auto; 
    margin-left: 8px;
    margin-right: 8px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


  @media screen and (max-width:950px) {

    .pageFooter{
        display:flexbox;
    }
    .pageFooter .grupo-1 .box figure img{
        width: 150px;
    }
    .box{
        font-size: smaller;
    }
    
  }