.promoSection {
    width: 100%;
    height: 50vh;
    text-align: center;
}

.inmobiliarias{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.33% - 20px);
    margin: 0 10px;
    padding: 20px;
    text-align: left;
    
  }

  .Ehlogo{
    border-radius: 5px;
    width: 40%;
    height: auto; 
    object-fit: cover; 
    object-position: center;

  }

  

@media screen and (max-width: 950px) {
  .inmobiliarias{
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    margin: auto;
    justify-self: center;
  }
  .Ehlogo{
    height: 50px;;
    width: auto;
  }
.imgCard{
    height: 50px;;
  }
  .card{
    margin-bottom: 10px;
    font-size: small;
  }
  .promoSection{
    margin-bottom: 300px;
  }
}