.promoSection {
  width: 100%;
  height: 50vh;
  text-align: center;
  margin-bottom: 3%;
  padding: 70px 0;
}

.inmobiliarias {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  animation: aparecer 1s ease-out;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 10s;
  padding: 0 20px;
}

.asociados-link {
  color: #38ba8c;
  text-decoration: none;
  font-weight: 600;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.inmobiliarias.apareciendo {
  opacity: 1;
  transform: translateY(0);
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 30%;
  /* flex-basis: calc(33.33% - 20px); */
  margin: 0 10px;
  padding: 20px;
  text-align: left;

}

.Ehlogo {
  border-radius: 5px;
  width: 40%;
  height: auto;
  object-fit: cover;
  object-position: center;

}



@media screen and (max-width: 950px) {
  .inmobiliarias {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;
    margin: auto;
    justify-self: center;
  }

  .Ehlogo {
    height: 50px;
    ;
    width: auto;
  }

  .imgCard {
    height: 50px;
    ;
  }

  .card {
    margin-bottom: 25px;
    width: 40%;
  }

  .promoSection {
    margin-bottom: 50px;
  }
}