.search-btn {
    height: 40px;
    position: absolute;
    top: 10%;
    left: 97%;
    color: white;
    border-radius: 50px;
    background-color: #38ba8c;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    transform: 1s;
    background-color: #264653;
}

.search-icon {
    width: 20px; /* Adjust the width as needed to make the SVG fit the button */
    height: 20px;
}

.top-form {
    z-index: 2;
    width: 40%;
    top: 50%;
    left: 30%;
    position: absolute;
    transition: all 0.3s ease;
}

.top-input {
    position: relative;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    text-align: center;
    font-size: large;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.06);
}
