@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.comment-section {
    font-family: 'Roboto', sans-serif !important;
    padding: 20px;
    margin-top: 20px;
    background-color: #ebf1ec;
  }
  
  .comments-list {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .comment {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }
  
  .comment:last-child {
    border-bottom: none;
  }
  
  .comment-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 20px;
  }
  
  .comment-input {
    font-family: inherit;
    color: #535A77;
    background-color: #ebf1ec;
    font-size: 17px;
    flex: 1;
    border: none;
    border-bottom: 3px solid #535A77;
    padding: 20px 20px 5px 20px;
    outline: none;
    transition: border-color 0.3s;
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  }
  
  .comment-input.focused {
    border-bottom-color: #38ba8c;
  }

  .submit-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
  }
  
  .submit-button {
    font-size: 15px;
    font-family: inherit;
    margin-left: 10px;
    padding: 10px;
    width: 100px;
    border: none;
    background-color: #264653;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #38ba8c;
  }

  .no-comments {
    padding-top: 100px;
    color: #535A77;
  }
  