@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.notFound {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #ebf1ec;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.not-found-svg-container {
    height: 400px;
    width: 400px;
}

.not-found-svg {
    height: 100%;
    width: 100%;
}

.numbers {
    font-weight: 600;
    font-size: 90px;
    color: #264653;
}

.not-found-info {
    font-size: 35px;
    font-weight: bolder;
}

.not-found-home {
    width: 200px;
    font-size: medium;
    font-weight: 900;
    color: white;
    border-radius: 30px;
    background-color: #38ba8c;
    padding: 20px;
    border: none;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.not-found-home:hover {
    transform: 1s;
    background-color: #264653;
}