.slider-dropdown {
    position: relative;
}

.slider-dropdown * {
    box-sizing: border-box;
}

.slider-select {
    background: #ffffff;
    font-weight: 600;
    color: #757575;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #269a6c solid;
    border-radius: 1.5em;
    padding: 1em;
    cursor: pointer;
    transition: 0.2s;
}

.slider-select-clicked {
    border: 2px #269a6c solid;
    box-shadow: 0 0 0.8em #269a6c;
}

.slider-select:hover {
    background: #eaf7f1;
}

.slider-caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #757575;
    transition: 0.3s;
}

.slider-caret-rotate {
    transform: rotate(180deg);
}

.slider-drop-menu {
    padding: 0.2em 0.5em;
    background: #ffffff;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    color: #757575;
    position: absolute;
    font-weight: 600;
    top: 4.5em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    min-width: 15em; /* Ensure the dropdown menu respects the min-width */
}

.slider-menu-open {
    display: block;
    opacity: 1;
}

.slider-range {
    width: 100%;
    margin: 10px 0;
}

.slider-values {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
