@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.financiamiento {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebf1ec;
    color: #535A77;
}

.f-content {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.financiamineto-info{
    margin-top: 10%;
    display: block;
    margin-bottom: 1%;
}

.info{
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: justify;
}
.imgFinanciemaiento{
    height: 190px;
    width: 516px;
    border-style:groove;
    border-radius: 12px;
    align-self: center;
}

.video{
    margin-bottom: 3%;
}