@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.house-modal {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.house-modal-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.house-modal-right {
    width: 50%;
}

.modal-left-top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.modal-left-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.house-modal-container {
    position: absolute;
    display: flex;
    top: 11vh;
    background-color: white;
    border-radius: 5px;
    padding: 2em;
    width: 80%;
    height: 75%;
}

.house-modal-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 30%;
    width: 100%;
}

.house-modal-img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.house-modal-img {
    height: 100%;
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.house-modal-row {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.house-modal-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.house-modal-value {
    font-weight: 600;
    font-size: 25px;
}

.house-modal-box {
    display: flex;
    justify-content: center;
}

.house-modal-info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
    width: 100%;
    height: 100%;
}

.house-modal-price {
    font-size: 30px;
    font-weight: 600;
    color: #38ba8c;
}

.modal-lower-section {
    display: flex;
    padding: 20px 0 ;
    height: 70%;
}

.house-modal-icon {
    font-size: 40px;
    color: #264653;
    margin-right: 10px;
}

.house-modal-atribute {
    display: flex;
    align-items: center;
}

.house-modal-title {
    color: #264653;
    font-weight: 900;
    font-size: 30px;
}

.house-modal-desc {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 600;
}

.house-modal-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.house-modal-url {
    font-size: 13px;
    text-decoration: none;
    color: rgb(56, 186, 186);
    font-weight: 600;
}

.modal-cross {
    cursor: pointer;
    padding: 15px;
 
    top: 8px;
    right: 8px;
    color: #656565;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

.modal-cross:hover > * {
    animation: squish 200ms ease-in-out;
}

@keyframes squish {
    50% {
        scale: 2.4 0.6;
    }
}