.Explore-city-card {
    position: relative;
    cursor: pointer;
    height: 90%;
    width: 300px;
    background-color: rgb(199, 199, 199);
    margin: 10px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.Explore-city-card:hover {
    transform: scale(1.03);
}

.city-card-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.city-card-title {
    font-weight: bold;
    font-size: x-large;
    color: white;
    padding: 20px;
    position: absolute;
    top: 10%;
}

.city-card-info {
    font-weight: 600;
    color: white;
    top: 25%;
    padding: 20px;
    position: absolute;
}

@media screen and (max-width:950px) {
    .city-card-title,.city-card-info{
        font-size: smaller;
    }
    
}