@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.navBar {
    font-family: 'Roboto', sans-serif;
    height: 10vh;
    background-color: #264653;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.nav-options-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-options {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-option {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 40px 0 40px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.active {
    color: #38ba8c;
    font-weight: 600;
}

.nav-option:hover {
    color: #38ba8c;
}

.nav-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px 0 40px;
}

.nav-logo {
    font-size: x-large;
    font-weight: 900;
    color: #44dfa9;
}

.nav-icon {
    height: 50px;
    margin-left: 5px;
}

.hidden {
    display: none;
}

/* dropdown */

.dropdown {
    position: relative;
  }

  button {
    background-color: #2a5565;
    color: white;
    font-weight: 600;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  
  .menu {
    position: absolute;
  
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    width: 150px;
    border-radius: 50px;
  }
  
  .menu > li {
    margin: 0;
  
    background-color: white;
  }
  
  .menu > li:hover {
    background-color: lightgray;
  }
  
  .menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
  
    background: none;
    color: black;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
  }