@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.info-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #ebf1ec;
    align-items: center;
    justify-content: center;
}

.info-page-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px 0;

}

.info-page-img {
    height: 100px;
    border-radius: 10px;
}

.info-page p {
    display: flex;
    align-items: center;
    justify-content: center;
}