@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.topSection {
    margin-top: 10vh;
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.top-img-container {
    position: relative;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

.top-img {
    border-radius: 10px;
    width: 100%;
}

.top-img-text {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    top: 32%;
    left: 28%;
    color: white;
    padding: 20px;
    z-index: 2;
}

.top-form {
    z-index: 2;
    width: 40%;
    top: 50%;
    left: 30%;
    position: absolute;
}

.top-input {
    position: relative;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    text-align: center;
    font-size: large;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.06);
}

.top-img-text-container {
    display: flex;
}

.top-letters {
    margin-left: 10px;
}

.search-btn {
    height: 40px;
    position: absolute;
    top: 10%;
    left: 97%;
    color: white;
    border-radius: 50px;
    background-color: #38ba8c;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    transform: 1s;
    background-color: #264653;
}

.search-icon {
    width: 20px; /* Adjust the width as needed to make the SVG fit the button */
    height: 20px;
}

.top-overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.62);
    height: 100%;
    width: 100%;
    position: absolute;
}