@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.infoSection {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1%;
    margin-bottom: 3%;
    
}

.card{
    position: relative;
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.03);
}
.casas{
    width: 300px;
    height: 250px;
    float: lefts;
    
}
.Venta{
    text-align: center;
}

.descripcion{
   font-size:small;
}
 
.like{
    position: absolute;
  top: 15px;
  right: 33px;
}

.Compartir{
    position: absolute;
    top: 14px;
    right: 10px;
}

.destacado {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

.cantidad{
    font-size: small;
}


@media screen and (max-width: 950px) {
    .infoSection{
      display: inline-block;
      padding: 5px;
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
      margin: auto;
      justify-self: center;
    }
    .Ehlogo{
      height: 50px;;
      width: auto;
    }
  .imgCard{
      height: 50px;;
    }
    .card{
      margin-bottom: 10px;
      font-size: small;
    }
    .promoSection{
      margin-bottom: 300px;
    }
  }