@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.infoSection {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 1%;
    margin-bottom: 3%;
    margin-top: 5%;
}

.feature-element {
  padding: 10px;
}

.article {
  width: 100%;
}

@media screen and (max-width: 950px) {
    .infoSection{
      display: flex;
      justify-content: center;
      padding: 5px;
      margin: auto;
    }

    .Ehlogo{
      height: 50px;;
      width: auto;
    }

  .imgCard{
      height: 50px;;
    }

    .card{
      margin: 10px;
      font-size: small;
    }

    .feature-element {
      width: 80%;
      display: flex;
      justify-content: center;
    }
}

@media screen and (max-width:1000px) {
  .infoSection {
    padding: 30px 0;
  }
}

