.left-section {
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 200px;
    width: 60%;
    font-weight: 900;
}

.header-title {
    font-weight: 900;
    font-size: xx-large;
    color: #4f6876;
}

.sherlock {
    font-weight: 900;
    font-size: 40px;
    color: #38ba8c;
}

.link-registro {
    height: 100px;
    font-weight: 600;
}

.icon {
    height: 80px;
    color: #38ba8c;
}

.company-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #38ba8c;
    cursor: pointer;
    width: 100px;
    justify-content: space-between;
}

.link-a .icon {
    margin-left: 30px;
}

@media screen and (max-width:950px) {
    .header-title{
        font-size: 30px;
    }
    .sherlock{
        font-size: 50px;
        margin-left: 60px;
    }
    .link-registro {
        margin-left: 180px;
        margin-bottom: 50p;
    }
}