.explore-homes {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
    width: 100%;
    background-color: #ebf1ec;
    padding-bottom: 30px;
}

.cities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.cities-title {
    font-weight: bolder;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 90%;
}

.explore-cities {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 90%;
    animation: aparecer 1s ease;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.9s;
}

.welcome-msg {
  display: inline-block;
}

.welcome-msg-text {
  font-family: 'Bebas Neue', sans-serif !important;
  color: #535A77;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: inherit;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
        typing 3s,
        cursor .4s step-end infinite alternate;
}

@media screen and (max-width: 950px) {
    .explore-cities{
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        margin-top: 1%;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
    
    .cities-container {
      padding: 20px 0;
    }
}
@keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .explore-cities.apareciendo {
    opacity: 1;
    transform: translateY(0);
  }

@keyframes cursor {
  50% { border-color: transparent;}
}

@keyframes typing {
  from { width: 0;}
}