.explore-homes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    background-color: beige;
    width: 100%;
}

.cities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.cities-title {
    display: flex;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 90%;
}

.explore-cities {
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 90%;
}