.profile-page-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    align-items: flex-start;
    background-color: #ebf1ec;
}

.profile-page {
    display: flex;
    margin-top: 10vh;
    width: 100%;
    min-height: 100vh;
    color: #535A77;
}

.profile-page-left {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 30px;
    margin-top: 40px;
}

.profile-page-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 30px 0;
}

.profile-page-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding: 0px 30px;
}

.profile-page-side-info-box {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.profile-center-top {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.profile-center-info-box {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.info-box2 {
    margin-top: 20px;
}

.profile-center-info-box-content {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.profile-info-box {
    display: flex;
    width: 27%;
    font-weight: 600;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* transition: transform 0.3s; */
}

.favorites {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Ensure smooth transition */
}

.favorites:hover {
    background-color: rgb(251, 238, 150);
}

.comments {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Ensure smooth transition */
}

.comments:hover {
    background-color: rgb(177, 150, 251);
}

.publications {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Ensure smooth transition */
}

.publications:hover {
    background-color: rgb(251, 150, 150);
}

.profile-icon {
    margin-left: 10px;
}

.profile-options {
    display: flex;
    justify-content: center;
    width: 100%;
}
