@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.profile-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    align-items: flex-start;
    background-color: #ebf1ec;
}

.profile-page {
    display: flex;
    margin-top: 5vh;
    width: 100%;
    min-height: 100vh;
    color: #000000;
}

.profile-page-left {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 30px;
}

.profile-c-container {
    position: sticky;
    width: 100%;
    top: 1vh;
    height: 80vh;
}

.profile-page-content {
    width: 100%;
    display: flex;
}

.profile-page-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    max-height: 60vw;
    padding: 0 0 30px 0;
}

.profile-page-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding: 0 30px 20px;
}

.profile-page-side-info-box {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 60vw;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    flex-direction: column;
    align-items: center;
}

.profile-center-top {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.profile-center-info-box {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.info-box2 {
    margin-top: 20px;
}

.profile-center-info-box-content {
    padding: 20px;
    height: 100%;
    width: 100%;
    max-height: 60vw;
}

.profile-info-box {
    display: flex;
    width: 27%;
    font-weight: 600;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.favorites {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.favorites:hover {
    background-color: #fbee96;
}

.compare:hover {
    background-color: #5aa8c7;
}

.compare {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Ensure smooth transition */
}

.comments {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.comments:hover {
    background-color: #b196fb;
}

.publications {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.publications:hover {
    background-color: rgb(251, 150, 150);
}

.profile-icon {
    margin-left: 10px;
}

.comments-list-profile {
    height: 89%;
    overflow-y: auto;
}

.favorites-list{
    height: 89%;
    overflow-y: auto;
}

.profile-options {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-link {
    color: #38ba8c;
    text-decoration: none;
}

.profile-center-lottie {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.house-animation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.house-animation-text{
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
}

.publicidad1{
    display: flex;
    height: 295px;
    border-radius: 10%; 
}
.videoPublicidad1{
    text-align: center;
}

.p-content {
    display: flex;
    margin-top: 11vh;
    width: 100%;
}

.p-admin {
    font-family: 'Bebas Neue', sans-serif;
    color: #535A77;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 3px;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.admin-content {
    padding: 10px 0;
    width: 100%;
}

.admin-info-box {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.ac {
    display: flex;
}

.admin-info-box-content {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.admin-info-box-value {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    align-items: center;
}

.admin-info-box-title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;
    color: #535A77;
}

.admin-info-box-label {
    color: #535A77;
}

.icon-p {
    margin-right: 10px;
}

.l1 {
    color: rgb(56, 186, 186);
}

.l2 {
    color: rgb(186, 56, 60);
}

.l3 {
    color: rgb(195, 177, 61);
}

.l4 {
    color: rgb(56, 186, 140);
}

.select-two-options-text{
    font-size: 20px;
    color: #264653;
}

.delete-button{
    background-color: #264653;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #122229;
}


/*Comparar*/

.compare-warning {
    font-size: 12px;
    color: red;
    margin-top: 5px;
    display: none; /* Oculto por defecto */
}

.profile-info-box.compare.disabled + .compare-warning {
    display: block; /* Mostrar solo si el botón está deshabilitado */
}


.disabled {
    opacity: 0.5;
    pointer-events: none;
}


.compare-button {
    background-color: #264653;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.campos-propiedad{
    display: flex;
}
.compare-button:hover {
    background-color: #122229;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 90%;
    height: 90vw;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.close-button {
    position: absolute;
    background-color: #264653;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 24px;

    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
}

.image-info {
    max-width: 50%;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.06);
}

.responsive-image {
    width: 100%;
    max-width: calc(100% - 10px);
    height: 50vh;
    border-radius: 8px;
}

.info {
    text-align: left;
    margin-top: 10px;
    padding: 0px;
    width: 80%;
}


.text-comparar {
    text-align: center;
    font-size: 30px;
    color: #264653;
    /* font-family: 'Bebas Neue', sans-serif; */
}

.campo-comparar {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    color:  #264653;
    font-size: 30px;
}
.campo-nocomparar {
    margin-top: 4px;
    margin-bottom: 4px;
    color:  #264653;
    font-size: 30px;
}

.opcion {
    font-size: 25px;
    color: #264653;
}

.simbologia {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.simbologiagreen,
.simbologiared {
    display: flex;
    align-items: center;
    gap: 10px;
}

.greensquare,
.redsquare {
    width: 30px;
    height: 30px;
}

.greensquare {
    background-color: green;
    border-radius: 5px;
}

.redsquare {
    background-color: red;
    border-radius: 5px;

}

.text-greensquare,
.text-redsquare {
    font-size: 20px;
    color: #264653;
}


@media (max-width: 600px) {
    .simbologia {
        flex-direction: column;
        gap: 10px;
        
    }
}


@media (max-width: 600px) {
    .modal-content {
        width: 100%;
        max-width: 90%;
        padding: 15px;
    }

    .compare-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .close-button {
        font-size: 20px;
    }

    .responsive-image {
        max-width: 100%;
    }

    .image-container {
        flex-direction: column;
    }
}