@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.m-section-container {
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    min-height: 80vh;
    width: 100%;
    background-color: #d4e4da;
    color: #535A77;
    padding: 40px 0;
}

.m-section {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.m-row-info-title {
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
}

.m-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.m-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: flex-start;
    padding-left: 30px;
    justify-content: center;
}

.m-lottie-background {
    background-color: rgb(159, 226, 226);
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.m-right-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #535A77;
    letter-spacing: 4px;
}

.m-right-body {
    width: 100%;
}

.m-row {
    display: flex;
    width: 100%;
}

.m-row-info {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* font-weight: 600; */
}

.m-lottie {
    width: 30%;
}

.m-left-subtitle {
    text-align: center;
    width: 60%;
    font-weight: 600;
}

@media screen and (max-width:950px) {
    .m-section {
        flex-direction: column-reverse;
    }

    .m-lottie-background {
        width: 100%;
    }

    .m-left {
        width: 90%;
        margin: 20px;
    }

    .m-left-subtitle {
        width: 80%;
    }

}
