@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.notFound {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #ebf1ec;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}