@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.notFound {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #ebf1ec;
    font-weight: bold;
    align-items: center;

}

.not-found-svg-container {
    height: 500px;
    width: 500px;
    padding-top: 11vh;
}


.not-found-info {
    font-size: 35px;
    font-weight: bolder;
    color: #535A77;
}

.not-found-home {
    width: 200px;
    font-size: medium;
    font-weight: 900;
    color: white;
    border-radius: 30px;
    background-color: #38ba8c;
    padding: 20px;
    border: none;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.not-found-home:hover {
    transform: 1s;
    background-color: #264653;
}