@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.search {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #ebf1ec;
    height: 100vh;
}

.search-info {
    width: 20%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-results {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    width: 80%;
    height: 100%;
    align-items: center;
}

.search-info-title {
    padding: 20px;
    font-weight: 600;
    font-size: large;
}

.search-container {
    width: 100%;
    display: flex;
}