.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebf1ec;
    height: 100vh;
}

.search-info {
    width: 30%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-results {
    background-color: cadetblue;
    width: 70%;
    height: 100%;
}

.search-info-title {
    padding: 20px;
    font-weight: 600;
    font-size: large;
}