.asociates-container {
    display: flex;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    background-color: #d4e4da;
}

.asociates {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asociates-left {
    font-size: 50px;
    letter-spacing: 4px;
    font-family: 'Bebas Neue', sans-serif !important;
    color: #535A77;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding-left: 30px;
}

.asociates-right {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    padding-right: 20px;
}

@media screen and (max-width: 1200px) {
    .asociates {
        flex-direction: column;
        width: 100%;
    }

    .asociates-left {
        width: 100%;
        padding: 25px 0;
    }
}

@media screen and (max-width: 450px) {
    .asociates-left {
        text-align: center;
    }
}